// Variables
$color-blue: #155AA9;
$color-orange: #F17423;
$color-yellow: #FDCC0B;

.wrap-collapse {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    position: relative;
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        left: 22px;
        border-left: 1px dashed #fff;
    }
    .label__number {
        cursor: pointer;
        border-radius: 50%;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-orange;
        color: #fff;
        z-index: 2;
        width: 46px;
        height: 46px;
    }

   

    .pane__title {
        cursor: pointer;
        color: $color-orange;
        font-size: 25px;
        font-weight: 600;
    }

    .pane__content {
        color: #fff;
        max-height: 0px;
        transition: all 300ms;
        transition-timing-function: ease-in-out;
        overflow: hidden;

        &.pane_content--open {
            max-height: 500px;
        }
    }
}

// Responsive
@media (max-width: 640px) {
    .wrap-collapse {
        font-size: 16px !important;

         
        &::before {
            left: 18px !important;
        }

        .label__number {
            width: 36px !important;
            height: 36px !important;
            font-size: 25px !important;
        }
    

        .pane__title {
            font-size: 18px !important;
        }
    }
}

