@import 'variables';
.f-Sans-pro {
    font-family: 'Source Sans Pro';
} 
.footer-container {
    background-image: url('../public/svg/materials_CC-11.svg');
    width: 100%;
    min-height: 554px;  
}