@import 'variables';
.f-Sans-pro {
    font-family: 'Source Sans Pro';
} 
.footer-container {
    background-image: url('../public/images/bg_footer-11 1.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 554px;  
}

// Responsive
@media (max-width: 640px) {
    .footer-container {
        padding-top: 180px !important;
    }
}