@import 'variables';

.f-Sans-pro {
    font-family: 'Source Sans Pro';
} 

.home-page__wrap {
    background-color: $color-blue;
    min-height: 100vh;

    .home-page__main {
        padding-top: 90px;


        .main-content--1 {
            background-image: url('../public/svg/home-01.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            min-height: 554px;
        }
      
        .main-content--2 {
            position: relative;
            z-index: 20;
            background-image: url('../public/images/home/home-06.png');
            width: 100%;
            background-position: top;
            background-size: 100% auto;
            background-repeat: no-repeat;
            min-height: 20rem;
        }

        .logo__banner {
            background-image: url('../public/images/home/home-05.png');
        }
    }

    
    // React-slick
    .slick-dots {

        .slick__dot {
            background-color: $color-orange;
        }
        .slick-active {
            .slick__dot {background-color: #fff;}
        }
        li {

        }
    }
}


.desktop-section {
    display: flex !important;
}
.mobile-section {
    display: none !important;
}

// Responsive
@media (max-width: 640px) {
    .slider-wrap__item {
        width: 100vw !important;
    }
    .home-page__main {
        padding-top: 60px !important;
    }
    .main-content--1 {
        min-height: 700px !important;
    }
    .flip-lucky-money {
        width: 300px !important;
    }

    .desktop-section {
        display: none !important;
    }
    .mobile-section {
        display: flex !important;
    }
}