@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    src: url('../public/fonts/SourceSansPro-Regular.ttf');
}

$color-blue: #155AA9;
$color-orange: #F17423;
$color-yellow: #FDCC0B;
